.h7 {
  font-size: 0.7rem;
  font-weight: bold;
}

textarea.form-control {
  max-height: 100%;
}

.text-underline {
  text-decoration: underline;
}

.script-tag {
  border-radius: 5px 0 0 5px;
}

.script-copy-btn {
  height: 100% !important;
  border: 1px solid #fff;
  border-radius: 0 5px 5px 0;
}

.script-copy-btn:hover {
  border: 1px solid #fff;
}